// main: style.scss

.show_title{
    flex-direction: column;
    align-items: center;
    border-bottom: solid 3px $lightBlueColor;
    margin: 0 100px 40px 100px;
    width: auto;
    .subtitle{
        margin-top: 20px;
        color: $titleColor;
        background-color: $white1;
        font-family: $josephine;
        text-align: center;
        padding: 5px 50px;
    }
}

.imgContent{
    display: flex;
    justify-content: space-between;
}