//main: style.scss

$createColor: #d9d9d9;
.tags{
    font-family: $josephine;
    .addForm{
        div{
            width: 40%;
            display: flex;
            justify-content: space-around;
            .color_part{
                margin: 0 10px;
                #colorLabel{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor:pointer;
                    p{
                        position: absolute;
                        text-transform: uppercase;
                        color: white;
                    }
                    #color{
                        -webkit-appearance: none;
                        border: none;
                        width: 100%;
                        min-width: 150px;
                        height: 100%;
                        &::-webkit-color-swatch-wrapper {
                            padding: 0;
                        }
                        &::-webkit-color-swatch {
                            border-radius: 5px;
                            border: none;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                } 
            }
            #name{
                height: 100%;
                background-color: $createColor;
                border: none;
                border-radius: 5px;
                text-align: center;
                padding: 10px 50px;
                font-size: 20px;
                outline: none;
                &::-webkit-input-placeholder{
                    font-family: $josephine;
                    font-size: 15px;
                    text-transform: uppercase;
                }
            }   
            .validate{
                border: none;
                border-radius: 50%;
                padding: 0 9px;
                background-color: $validateGreen;
                font-size: 25px;
                color: white;
                border: 1px solid $validateGreen;

                &:hover{
                    background-color: white;
                    color: $validateGreen;
                }
            }
        }
    }
    .tag_container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        float: left;
        .tag_item{
            padding: 10px 5px;
            width: 25%;
            min-width: 250px;
            margin-left: 10px;
            border-radius: 5px;
            position: relative;
            display: flex;
            justify-content: space-between;
            .editForm{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            form{
                display: flex;
                button[type='submit']{
                    border-radius: 50%;
                    font-size: 15px;
                }
                .edit{
                    background-color: $validateGreen;
                    color: white;
                    padding: 4px 6px;
                    border: 1px solid $validateGreen;
                    &:hover{
                        background-color: white;
                        color: $validateGreen;
                    }
                }
                .delete{
                    background-color: $errorColor;
                    color: white;
                    padding: 4px 8px;
                    border: 1px solid $errorColor;
                    display: none;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    outline: none;
                    &:hover{
                        background-color: white;
                        color: $errorColor;
                    }
                }
                .editNameTagLabel{
                    display: flex;
                    align-items: center;
                    input[type="text"]{
                        width: 100%;
                        background: none;
                        border: none;
                        outline: none;
                    }
                }
                .edit_color_part{
                    width: 40%;
                    display: flex;
                    align-items: center;
                    .editColorLabel{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor:pointer;
                        p{
                            font-size: 10px;
                            position: absolute;
                            text-transform: uppercase;
                            color: white;
                        }
                        .colorEditTag{
                            cursor:pointer;
                            -webkit-appearance: none;
                            background-color: transparent;
                            border: solid 1px white;
                            padding: 10px 0;
                            border-radius: 5px;
                            width: 100%;
                            height: 10px;
                            &::-webkit-color-swatch-wrapper {
                                padding: 0;
                            }
                            &::-webkit-color-swatch {
                                border-radius: 5px;
                                border: none;
                            }
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
            &:hover{
                .delete{
                    display: block;
                }
            }
        }
    }
}