// main: style.scss

// colors
$mainBgColor: #dfeaff;
$white1: #f7f7f7;
$white2: #f0f2fd;
$darkBlueColor: #0e2650;
$lightBlueColor: #6e97e3;

$titleColor: #5e6d85;
$textNavColor: #fff;
$textFooterColor: #65c0be;


$validateGreen: #28a745;
$scrollBarColor: #555;

$grey: #555;


$errorColor: #dc3545;

//fonts
$josephine: 'Josefin Sans', sans-serif;
$rubik: 'Rubik', sans-serif;

//padding/margin

$headerYPadding: 50px;
$headerXPadding: 0;
$titleYPadding: 40px;
$titleXPadding: 60px;
