// main: style.scss

// colors
$mainBgColor: #dfeaff;
$footerBgColor: #f7f7f7;
$contactBgColor: #f0f2fd;
$darkBlueColor: #0e2650;

$titleColor: #5e6d85;
$textNavColor: #fff;
$textFooterColor: #65c0be;

$validateGreen: #28a745;
$scrollBarColor: #555;

$errorColor: #dc3545;

//fonts
$josephine: 'Josefin Sans', sans-serif;
$rubik: 'Rubik', sans-serif;
