// _style.scss
@import 'variables';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;

    &::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: $scrollBarColor;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    background: $mainBgColor;
    flex: 1;
    margin-left: 200px;
    z-index: 99;
    transition-duration: .7s;

    &.close {
        margin-left: 70px;
    }
}

.sectionContent {
    padding: 75px 150px;
}

.error {
    color: $errorColor;

    &>i {
        margin-right: 4px;
    }
}

@media screen and (max-width: 1024px) {
    .sectionContent {
        padding: 75px 75px;
    }
}

@media screen and (max-width: 550px) {
    main {
        margin-left: 0 !important;
        margin-top: 75px;
    }

    .sectionContent {
        padding: 75px 25px;
    }
}

@import 'nav';
@import 'footer';
@import 'carousel';
@import 'infoProject';
@import 'team';
