// _style.scss
@import 'variables';


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $grey;
    }
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #dfeaff;
}

footer {
    background-color: #f7f7f7;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    background: $mainBgColor;
    flex: 1;
    margin-left: 200px;
    z-index: 99;
    transition-duration: .7s;

    &.close {
        margin-left: 70px;
    }
}

.bandeau {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: $headerYPadding $headerXPadding;

    #title {
        border-bottom: solid 3px $lightBlueColor;
        color: $titleColor;
        background-color: $white1;
        font-family: $josephine;
        padding: $titleYPadding $titleXPadding;
        text-align: center;
    }
}

.input {
    font-family: $josephine;
    color: $titleColor;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white1;
    border: none;
    border-left: solid 3px $lightBlueColor;

    &:hover {
        border-left: solid 3px $darkBlueColor;
    }
    &:focus{
        border-left: solid 3px $darkBlueColor;
    }
}


.titre1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #5E6D85;
    font-size: 55px;
    text-align: center;
}

.titre2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #5E6D85;
    font-size: 45px;
    text-align: center;
}

.titre3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #5E6D85;
    font-size: 30px;
    text-align: center;
}

.button {
    background-color: #0e2650;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #0e2650;
    transition: all ease .5s;
    border-radius: 3px;
    padding: 8px 60px;
    margin-top: 20px;


    &:hover {
        color: #1E3F78;
        background-color: white;
        border: 1px solid #0e2650;
        transition: all ease .5s;
    }
}


.text {
    color: #3F3F3F;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.link {
    font-size: 15px;
}

.text-alt {
    color: #999999;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

.border-bottom {
    border-bottom: solid red;
}

nav {
    padding: 15px;
}

.sectionContent {
    padding: 75px 150px;
}

.sectionPage {
    padding: 50px 100px;
}

.error {
    color: $errorColor;

    &>i {
        margin-right: 4px;
    }
}

@media screen and (max-width: 1024px) {
    .sectionContent {
        padding: 75px 75px;
    }

    .sectionPage {
        padding: 50px 75px;
    }
}

@media screen and (max-width: 550px) {
    main {
        margin-left: 0 !important;
        margin-top: 75px;
    }

    .sectionContent {
        padding: 75px 25px;
    }

    .sectionPage {
        padding: 50px 0;
    }

    .titre1 {
        font-size: 45px;
    }

    .titre2 {
        font-size: 35px;
    }

    .titre2 {
        font-size: 25px;
    }

    .bandeau {

        #title {
            padding: 20px 30px;
        }
    }
}

@import 'nav';
@import 'footer';
@import "create-editArticle";
@import 'contact';
@import 'articlesCarousel';
@import 'carousel';
@import 'infoProject';
@import 'team';
@import 'register';
@import 'login';
@import 'team';
@import 'allArticles';
@import 'tags';
@import 'adminDefault';
@import 'usersAdmin';
@import 'createUserAdmin';
@import 'show';
@import 'adminContact';
@import 'search';
@import 'pageNotFound';
